/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    padding-bottom: 50px;
    margin-bottom: 50px;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.word-label {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    /* Styles for tablets and small desktops */
    h1 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
    }

    .word-label {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    /* Styles for smartphones */
    h1 {
        font-size: 20px;
    }

    button {
        font-size: 12px;
    }

    .word-label {
        font-size: 18px;
    }
}
